{% extends 'profile.html' %}



{% block form_edit %}

<div class="container">
    <hr>
    <div class="row">

        <div class="col">
            <form action="" method="post" class="border p-4 mt-2" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <legend> Edit Profile </legend>
                <fieldset>
                    <div class="form-group">
                        {{ form.username.label (class="form-control-label")}}

                        {% if form.username.errors %}
                        {{ form.username (class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.username.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username (class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label (class="form-control-label")}}

                        {% if form.email.errors %}
                        {{ form.email (class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.email.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email (class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.picture.label }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for erro in form.picture.errors %}
                                <span class="text-danger"> {{ erro }} </span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                    <p>Skills</p>
                    {% for skill in form %}
                        {% if 'sk_' in skill.name %}
                            <div class="form-group">
                                {{ skill(class="form-check-input") }}
                                {{ skill.label(class="form-check-label") }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
                {{ form.btn_edit (class="btn btn-primary mt-2") }}
            </form>
        </div>
    </div>
</div>


{% endblock %}