{% extends 'base.html' %}


{% block body %}

<div class="container mt-5 d-flex justify-content-center">

    <div class="card p-3">

        <div class="d-flex align-items-center">

            <div class="image pe-2">
                <img src="{{ picture }}" class="rounded profile-picture">
            </div>

            <div class="ml-3 w-100">

                <h4 class="mb-0 mt-0">{{current_user.username}}</h4>
                <span>{{current_user.email}}</span>

                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span class="articles">Skills</span>
                        {% if current_user.courses == 'Uninformed' or current_user.courses == '' %}
                            <span class="number1">0</span>
                        {% else %}
                            <span class="number1">{{ current_user.courses.split(';') | length }}</span>
                        {% endif %}
                    </div>

                    <div class="d-flex flex-column">
                        <span class="rating">Posts</span>
                        <span class="number3">0</span>
                    </div>

                </div>
                
                <div class="button mt-2 d-flex flex-row align-items-center">
                    <a href="{{ url_for('edit') }}">
                        <button class="btn btn-sm btn-outline-primary w-100">Edit Profile</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col col-4" style="text-align: center">
        <strong> Skills </strong><br>
        {% for skill in current_user.courses.split(';') %}
            <button type="button" class="btn btn-success mt-2" disabled >{{ skill }}</button>
        {% endfor %}
    </div>
</div>


{% block form_edit %}
{% endblock %}

{% endblock %}